* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
.wrapper {
  max-width: 100vw;
  /* overflow-x: hidden; */
}
:root {
  --lightblue: #879fcf;
  --darkblue: #3e5aa3;
  --footergrey: #4e4e4e;
  --footerwhite: #ffffff;
}
.upperHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--darkblue);
  height: 40px;
  padding: 0 2rem;
}

.list p {
  color: white;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: var(--lightblue); */
  padding: 0 2rem;
}
.left-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.homeMenu {
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
}
.homeMenu a {
  text-decoration: none;
  color: black;
}

/* body section */
.body {
  max-width: 100%;
  max-height: auto;
  /* border: 1px solid black; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
/* owl-carosul design */

.owl-nav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upperBody {
  width: 95vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.middleBody {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.grid-section {
  display: grid;

  justify-items: center;
  align-content: center;
  grid-template-columns: auto auto auto;
  /* grid-row-gap: 1.5rem; */
}

.pagination {
  width: 100vw;
  height: 50px;
  border: 1px solid black;
}

.footer-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--footergrey);
}
.footer-parts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  max-width: 30%;
  color: var(--footerwhite);
  /* border: 2px solid black; */
}

.below-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  gap: 1.5rem;
  color: black;
  background-color: var(--footerwhite);
  padding-bottom: 4rem;
}
.below-footer a {
  text-decoration: none;
  color: black;
}
.menu-position {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

/* style for page.php start */
.page-contains {
  display: flex;
  flex-direction: column;
}
.cpost {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-row-gap: 1rem;
  justify-items: center;
}
.card {
  border: 2px solid black;
}

.banner {
  display: grid;
  grid-template-columns: repeat(1, auto);
}

/* style for page.php end */

/* pagination style */
.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.page-nav {
  text-decoration: none;
  border: 1px solid black;
  color: black;
  float: left;
  padding: 8px 16px;
}

/* home show-more button design */

.show-more {
  background-image: linear-gradient(#0dccea, #0d70ea);
  border: 0;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 5px 15px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  font-size: 0.9em;
  margin: 5px;
  padding: 10px 15px;
  text-align: center;
  user-select: none;

  -webkit-user-select: none;
  touch-action: manipulation;
}
.show-more a {
  text-decoration: none;
}
