* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --lightblue: #879fcf;
  --darkblue: #3e5aa3;
  --footergrey: #4e4e4e;
  --footerwhite: #ffffff;
}
.upperHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--darkblue);
  height: 40px;
  padding: 0 2rem;
}

.size {
  width: 1rem;
  height: 1rem;
}
.list p {
  color: white;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: var(--lightblue); */
  padding: 0 2rem;
}
.left-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.homeMenu {
  display: flex;
  gap: 1.5rem;
}
.homeMenu a {
  text-decoration: none;
  color: black;
}
.right-header {
  display: flex;
}
.homeSearch {
  width: 175px;
  height: 40px;
}
.Search-btn {
  display: flex;
  align-items: center;
}
.position {
  position: absolute;
  z-index: 1;
  padding-left: -2rem;
}
.homeSearch-btn {
  position: relative;
  width: 120px;
  height: 42px;
  background-color: rgb(27, 181, 181);
}

/* body section */
.body {
  max-width: 98vw;
  max-height: auto;
  /* border: 1px solid black; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.upperBody {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.grid-section {
  display: grid;
  /* grid-column-gap: 1rem; */
  grid-row-gap: 1rem;
  justify-items: center;
  grid-template-columns: auto auto auto;
}
.grid-section-banner {
  display: grid;
  /* grid-column-gap: 1rem; */
  grid-row-gap: 1rem;
  justify-items: center;
  grid-template-columns: auto;
}
.pagination {
  width: 100vw;
  height: 50px;
  border: 1px solid black;
}

.footer-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--footergrey);
}
.footer-parts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  max-width: 30%;
  color: var(--footerwhite);
  /* border: 2px solid black; */
}

.below-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  gap: 1.5rem;
  color: black;
  background-color: var(--footerwhite);
  padding-bottom: 4rem;
}
.below-footer a {
  text-decoration: none;
  color: black;
}
.menu-position {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
